accelerate==1.6.0
aiocache==0.12.3
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
alembic==1.14.0
altair==5.5.0
annotated-types==0.7.0
anthropic==0.49.0
anyio==4.9.0
appdirs==1.4.4
APScheduler==3.10.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.3.0
auth0-python==4.9.0
Authlib==1.4.1
av==14.3.0
azure-ai-documentintelligence==1.0.0
azure-core==1.33.0
azure-identity==1.20.0
azure-storage-blob==12.24.1
backoff==2.2.1
bcrypt==4.3.0
beautifulsoup4==4.13.4
bidict==0.23.1
bitarray==3.3.1
black==25.1.0
blinker==1.9.0
boto3==1.35.53
botocore==1.35.99
build==1.2.2.post1
cachetools==5.5.2
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
chroma-hnswlib==0.7.6
chromadb==0.5.23
click==8.1.8
cohere==5.15.0
colbert-ai==0.2.21
colorama==0.4.6
colorclass==2.2.2
coloredlogs==15.0.1
compressed-rtf==1.0.7
contourpy==1.3.2
crewai==0.117.1
crewai-tools==0.43.0
cryptography==44.0.2
ctranslate2==4.6.0
cycler==0.12.1
dataclasses-json==0.6.7
datasets==3.5.0
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
deprecation==2.1.0
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
dnspython==2.7.0
docker==7.1.0
docstring_parser==0.16
docx2txt==0.8
duckduckgo_search==8.0.1
durationpy==0.9
easygui==0.98.3
ebcdic==1.1.1
ecdsa==0.19.1
einops==0.8.1
elastic-transport==8.17.1
elasticsearch==8.17.1
embedchain==0.1.128
emoji==2.14.1
et_xmlfile==2.0.0
eval_type_backport==0.2.2
Events==0.5
executing==2.2.0
extract-msg==0.54.1
fake-useragent==2.1.0
fastapi==0.115.12
fastavro==1.10.0
faster-whisper==1.1.1
filelock==3.18.0
filetype==1.2.0
firecrawl-py==1.12.0
Flask==3.1.0
flatbuffers==25.2.10
fonttools==4.57.0
fpdf2==2.8.2
frozenlist==1.6.0
fs==2.4.16
fsspec==2025.3.2
ftfy==6.2.3
gcp-storage-emulator==2024.8.3
git-python==1.0.3
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.167.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-core==2.4.3
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-generativeai==0.8.4
google-resumable-media==2.7.2
googleapis-common-protos==1.63.2
gptcache==0.1.44
greenlet==3.1.1
grpcio==1.67.1
grpcio-status==1.67.1
grpcio-tools==1.67.1
h11==0.16.0
h2==4.2.0
hpack==4.1.0
html5lib==1.1
httpcore==1.0.9
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.30.2
humanfriendly==10.0
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.6.1
importlib_resources==6.5.2
iniconfig==2.1.0
instructor==1.7.9
ipython==9.2.0
ipython_pygments_lexers==1.1.1
isodate==0.7.2
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
json5==0.12.0
json_repair==0.44.0
jsonpatch==1.33
jsonpickle==4.0.5
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
kubernetes==32.0.1
lancedb==0.22.0
langchain==0.3.23
langchain-chroma==0.2.3
langchain-cohere==0.3.5
langchain-community==0.3.21
langchain-core==0.3.54
langchain-experimental==0.3.4
langchain-huggingface==0.1.2
langchain-openai==0.2.14
langchain-text-splitters==0.3.8
langdetect==1.0.9
langfuse==2.44.0
langsmith==0.3.32
lark==1.1.9
ldap3==2.9.1
litellm==1.67.2
llama-cli==1.0.18
llama_cpp_python==0.3.8
loguru==0.7.2
lxml==5.3.2
Mako==1.3.10
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mem0ai==0.1.95
mmh3==5.1.0
monotonic==1.6
moto==5.1.3
mpmath==1.3.0
msal==1.32.0
msal-extensions==1.3.1
msoffcrypto-tool==5.4.2
multidict==6.4.3
multiprocess==0.70.16
mypy-extensions==1.0.0
narwhals==1.35.0
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.4
nltk==3.9.1
nodeenv==1.9.1
numpy==2.2.5
oauthlib==3.2.2
olefile==0.47
oletools==0.60.2
onnxruntime==1.20.1
open-webui==0.6.5
openai==1.76.0
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opensearch-py==2.8.0
opentelemetry-api==1.32.1
opentelemetry-exporter-otlp-proto-common==1.32.1
opentelemetry-exporter-otlp-proto-grpc==1.32.1
opentelemetry-exporter-otlp-proto-http==1.32.1
opentelemetry-instrumentation==0.53b1
opentelemetry-instrumentation-asgi==0.53b1
opentelemetry-instrumentation-fastapi==0.53b1
opentelemetry-proto==1.32.1
opentelemetry-sdk==1.32.1
opentelemetry-semantic-conventions==0.53b1
opentelemetry-util-http==0.53b1
orjson==3.10.16
overrides==7.7.0
packaging==24.2
pandas==2.2.3
parso==0.8.4
passlib==1.7.4
pathspec==0.12.1
pcodedmp==1.2.6
pdfminer.six==20250327
pdfplumber==0.11.6
peewee==3.17.9
peewee-migrate==1.12.2
pgvector==0.4.0
pillow==11.1.0
pip-chill==1.0.3
pip-tools==7.4.1
platformdirs==4.3.7
playwright==1.49.1
pluggy==1.5.0
pocketsphinx==5.0.4
portalocker==2.10.1
posthog==3.25.0
primp==0.15.0
prompt_toolkit==3.0.51
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.4
psutil==7.0.0
psycopg2-binary==2.9.10
pure_eval==0.2.3
py-partiql-parser==0.6.1
pyarrow==19.0.1
pyasn1==0.4.8
pyasn1_modules==0.4.1
pyclipper==1.3.0.post6
pycparser==2.22
pydantic==2.11.3
pydantic-settings==2.9.1
pydantic_core==2.33.1
pydeck==0.9.1
pydub==0.25.1
pyee==12.0.0
Pygments==2.19.1
PyJWT==2.10.1
pymdown-extensions==10.14.2
pymilvus==2.5.0
pymongo==4.12.0
PyMySQL==1.1.1
pypandoc==1.15
pyparsing==3.2.3
pypdf==5.4.0
pypdfium2==4.30.1
PyPika==0.48.9
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pyright==1.1.400
pysbd==0.3.4
pytest==8.3.5
pytest-docker==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-engineio==4.12.0
python-iso639==2025.2.18
python-jose==3.4.0
python-magic==0.4.27
python-multipart==0.0.20
python-oxmsg==0.0.2
python-pptx==1.0.0
python-socketio==5.13.0
pytube==15.0.0
pytz==2024.2
pyvis==0.3.2
pywin32==310
pyxlsb==1.0.10
PyYAML==6.0.2
qdrant-client==1.12.2
rank-bm25==0.2.2
RapidFuzz==3.13.0
rapidocr-onnxruntime==1.3.24
red-black-tree-mod==1.22
redis==5.2.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
responses==0.25.7
RestrictedPython==8.0
rich==13.9.4
rpds-py==0.24.0
rsa==4.9.1
RTFDE==0.1.2
s3transfer==0.10.4
safetensors==0.5.3
schema==0.7.7
scikit-learn==1.6.1
scipy==1.15.2
sentence-transformers==3.3.1
sentencepiece==0.2.0
setuptools==75.8.0
shapely==2.1.0
shellingham==1.5.4
simple-websocket==1.1.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sounddevice==0.5.1
soundfile==0.13.1
soupsieve==2.6
SQLAlchemy==2.0.38
sse-starlette==2.3.3
stack-data==0.6.3
starlette==0.46.2
starlette-context==0.3.6
streamlit==1.44.1
sympy==1.13.1
tabulate==0.9.0
tenacity==9.1.2
tencentcloud-sdk-python==3.0.1336
threadpoolctl==3.6.0
tiktoken==0.9.0
tokenizers==0.20.3
toml==0.10.2
tomli==2.2.1
tomli_w==1.2.0
torch==2.6.0+cu118
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.51.3
typer==0.15.2
types-requests==2.32.0.20250328
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
tzlocal==5.3.1
ujson==5.10.0
unstructured==0.16.17
unstructured-client==0.32.3
uritemplate==4.1.1
urllib3==2.4.0
uv==0.6.17
uvicorn==0.34.2
validators==0.34.0
watchdog==6.0.0
watchfiles==1.0.5
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
win32_setctime==1.2.0
win_unicode_console==0.5
wrapt==1.17.2
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.2.3
xmltodict==0.14.2
xxhash==3.5.0
yarl==1.20.0
youtube-transcript-api==1.0.3
zipp==3.21.0
zstandard==0.23.0
